
*{
    box-sizing: border-box;
    margin: 0px;
    font-size: 1.1rem;
}

main{
    padding-left: 3%;
    margin-top: 2%;
}

#formulario label{
    display: block;
}

.alerta{
    color: red;
    display: none;   
}

.correcto{
    display: block;
    color: green;
}

.activa{
    display: block;
}