
*{
    box-sizing: border-box;
    margin: 0px;
    font-size: 1.1rem;
}

main{
    padding-left: 3%;
    margin-top: 2%;
}

#formulario label{
    display: block;
}

.alerta{
    color: red;
    display: none;   
}

.correcto{
    display: block;
    color: green;
<<<<<<< HEAD
}

.activa{
    display: block;
}

.inactiva{
    display: none;
}

#turno_activo{
    color: firebrick;
    font-size: 2rem;
    font-weight: 800;
}

svg{
    width: 100px;
    height: 100px;
=======
}

.activa{
    display: block;
}

.inactiva{
    display: none;
>>>>>>> 5560e6b52148f9bccc51490dab5f31caf474bb8b
}